
body{
  background-color:silver;
    margin:10px;
}

navbar-nav{
  margin:0;
  padding:0;
}

.navbar-item{
  text-align:center;
  width:25%;
  
}

.navbar-item:hover{
    color: #111;
}

navbar-brand{
  background-color:white;
}

header{
  background-color:black;
    text-align: center;
    color:white;
}

.intro{
  display:none;
  position:relative;
  text-align:center;
  top:200px;
  height:200px;
  border: 4px solid black;
}

.col-sm-3{
    background-color:silver;
    height:200px;

}

.carousel{
  display:none;
}
.workSummaryOne{
  background-color:red;
  display:none;
}

.workSummaryTwo{
  background-color:red;
  display:none;
}

.workSummaryThree{
  background-color:red;
  display:none;
}

.works{
    position:relative;
    top:300px;
}

.work{
    height:200px;
}

footer{
  position:relative;
  bottom:-500px;
  text-align:center;
}

