
body{
  background-color:	#060a47;
    margin:10px;
}

.navbar-item{
  text-align:center;
  width:25%;
}

.navbar-item:hover{
    color: #111;
}


.one{
  position:relative;
  top:100px;
  margin:10px;
  background-color:#13066d;
  height:100px;
}

h1{
    text-align: center;
    color:white;
    font-size:40px;
    font-family: 'Playfair Display', serif;
}

h3{
    background-color:#13066d;
    text-align: center;
    color:white;
    font-size:30px;
    font-family: 'Playfair Display', serif;
}

.col-sm-3{
    background-color:silver;
    height:200px;
}
.carousel-inner img{
    height:100%;
    width:100%;
}

.carousel{
    position:relative;
    top:200px;
}

.workPageTitle{
    position:relative;
    top:100px;
}

.aboutMeTitle{
    position:relative;
    top:100px;
}

.aboutme{
    position:relative;
    top:200px;
}

.summary{
    text-align:center;
    color:blue;
    font-size:25px;
}

.workSummaryOne{
    background-color:grey;
    display:none;
}

.workSummaryTwo{
    background-color:grey;
    display:none;
}

.workSummaryThree{
    background-color:grey;
    display:none;
}

.works{
     position:relative;
     top:300px;
}

.carousel-control-prev{
     margin:10px;
     height:20%;
}

.carousel-control-next{
     height:20%;
}

div .work{
     height:300px;
}

.button{
    text-align:center;
    background-color:red;
    color:blue;
    font-size:18px;
}

footer{
    background-color:#13066d;
    position:relative;
    bottom:-500px;
    text-align:center;
}
.aboutme{
    font-size:20px;
    display:block;
    width:90%;
    margin:5%;
    height:300px;
    border:3px solid black;
}
.work{
  margin:10px;
}
.work img{
    width:100%;
    height:100%;
}

.resume1{
    display:none
}
.resume2{
    display:none;
}
.resume3{
    display:none;
}
