body{
    margin:10px;
}
.navbar-item:hover{
    background-color: #111;
}

h1{
    text-align: center;
}

#one{
    height:200px;
    border: 4px solid black;
}
.col-sm-3{
    background-color:silver;
    height:200px;
    margin: 10px;
}

#works{
    position:relative;
    top:200px;
}
